body {
    font-family:'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    height: 100%;
    min-width: 375px;
}

@font-face {
    font-family: 'Manrope';
    src: url('./../../fonts/Manrope/Manrope-Regular.eot');
    src: local('Manrope Regular'), local('./../../fonts/Manrope/Manrope-Regular'),
        url('./../../fonts/Manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('./../../fonts/Manrope/Manrope-Regular.woff') format('woff'),
        url('./../../fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 2.7px;
    line-height: 1.4;
    pointer-events: none;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.4;
    pointer-events: none;
}
h3{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.4;
    pointer-events: none;
}
h4{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    pointer-events: none;
}
h5{
    font-style: normal;
    font-size: 24px;
    line-height: 1.4;
    pointer-events: none;
}
p{
    line-height: 1.3;
    margin: 0;
    pointer-events: none;
}
span{
    line-height: 1.3;
}

/* ==================== General Buttons ==================== */
.black_button {
    background-color: $black;
    border: 2px solid $black;
    color: $white;
    cursor: pointer;
    display: block;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    width: 100%;
    max-width: 240px;

    &:hover {
        background-color: transparent;
        color: $black;
    }
}

/* ==================== General Wrappers ==================== */
.main_content {
    flex: 1 1 auto;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-width: 1920px;
    overflow: hidden;
}

.inner_wrap {
    display: block;
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 15px;
}
